body {
  margin: 0px;
  background-color: rgba(232, 255, 129, 0.65);
  display: flex;
  flex-direction: column;
  min-width: 360px;
  align-items: center;
  justify-content: flex-start;
  font-family: Helvetica, Arial, sans-serif;
}

#content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

nav {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 200px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.75);
  color: white;
  text-shadow: 1px 1px 1px black;
  z-index: 5;
}

#nav-left {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90%;
}

#nav-links {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 30vw;
}

#nav-links a {
  text-decoration: none;
  font-weight: 900;
  font-size: 20px;
  color: white;
  margin: 5px;
}

#nav-links a:hover {
  transform: scale(1.25);
}

#menu {
  position: relative;
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90vw;
  max-width: 600px;
  height: 600px;
  background-color: rgba(74, 109, 0, 0.65);
  border-radius: 5px;
}

#hero {
  margin-top: 190px;
  background-image: url("./images/hero.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 30vh;
  width: 100vw;
  border-bottom: 10px groove darkolivegreen;
  color: beige;
  text-shadow: 4px 4px 2px black;
  display: flex;
  flex-direction: column;
  font-size: 3.3rem;
  font-weight: 900;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#hero p {
  position: relative;
  width: 90%;
}

#spacer {
  position: relative;
  display: flex;
  width: 100vw;
  min-height: 20vh;
  height: auto;
  background-color: rgb(131, 160, 60);
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-bottom: 10px groove darkolivegreen;
  margin-bottom: 50px;
}

#spacer p {
  font-size: 1.85rem;
  width: 75%;
  text-align: center;
  color: white;
  font-weight: 800;
  text-shadow: 2px 2px 2px black;
}

#menu-button {
  position: relative;
  display: flex;
  align-items: center;
  margin: 50px;
  width: 200px;
  height: 100px;
  border-radius: 5px;
  color: white;
  font-size: 20px;
  text-align: center;
  justify-content: center;
  background-color: orange;
  box-shadow: 1px 1px 1px black;
  font-weight: 900;
  border: none;
}

#menu-button:hover {
  transform: scale(1.05);
}

#table {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 95%;
  height: 600px;
  border-radius: 5px;
  margin: 5px;
}

#titleBar {
  position: relative;
  align-self: start;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100px;
  background-color: rgb(0, 87, 4);
  color: white;
  text-shadow: 1px 1px 1px black;
  border-radius: 5px;
}

h3 {
  display: flex;
  text-align: center;
  justify-content: center;
  height: 100%;
  width: 33.3%;
  font-size: 21px;
  font-weight: 800;
  letter-spacing: 0.05em;
  align-items: center;
}

.activeTab {
  position: relative;
  align-self: center;
  background-color: rgb(131, 160, 60);
  height: 100%;
  width: 33.3%;
  border-radius: 5px;
  color: white;
  padding: 5px;
  padding-top: 0px;
}

#icon {
  margin: 20px;
  width: auto;
  height: 90%;
  background-color: none;
}

#icon:hover {
  transform: scale(1.05);
}

#hours {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

#hours p {
  margin: 5px;
}

#nav-name {
  border-top: 1px solid lightgray;
  padding: 10px;
  font-size: 18px;
  font-weight: 800;
}

#contact {
  height: auto;
  align-self: center;
  height: 30vh;
  margin: 100px;
  font-size: 30px;
  color: white;
  text-shadow: 2px 2px 2px black;
  font-weight: 800;
}

.special {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 19%;
  width: 100%;
  color: white;
  background-color: rgb(0, 87, 4);
  font-weight: 700;
  border-radius: 5px;
}

.special span {
  position: relative;
  height: auto;
  font-size: 24px;
  text-align: left;
  text-shadow: 2px 2px 1px black;
  margin-bottom: 0px;
}

.special p {
  font-size: 16px;
  margin: 10px;
  color: beige;
  margin-right: 15px;
  font-style: italic;
}

.name {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: left;
  width: auto;
  max-width: 75%;
  margin-left: 15px;
}

.name p {
  margin-top: 2px;
}

@media (max-width: 450px) {
  body {
    min-width: 360px;
  }

  #hero p {
    font-size: 2rem;
  }

  #spacer p {
    font-size: 1.5rem;
  }

  #titleBar h3 {
    font-size: 16px;
  }

  .special {
    position: relative;
    font-size: 13px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: auto;
    text-align: center;
    margin-bottom: 5px;
    flex-wrap: flex;
  }

  .name {
    margin: 0px;
    align-items: center;
    justify-content: center;
    width: 100%;
    text-align: center;
  }

  .special span {
    position: relative;
    font-size: 15px;
    width: 100%;
    text-align: center;
  }

  .special p {
    font-size: 13px;
    width: 100%;
    margin-top: 2px;
  }

  #menu {
    height: auto;
    width: 90%;
  }

  #table {
    height: auto;
    width: 95%;
  }

  #icon {
    height: 65%;
  }
}

@media (max-width: 600px) {
  #hours {
    display: none;
  }

  #nav-links {
    flex-direction: column;
  }

  #nav {
    justify-content: space-evenly;
  }
}
